{% extends "layout.html" %}

{% block body %}

<form action="/score" method="post">
    <div class="form-group">
        <label for="str1">First String</label>
        <input  class="form-control" name="string1", placeholder="e.g. harvard", type="text"/>
    </div>

    <div class="form-group">
        <label for="str2">Second String</label>
        <input class="form-control" name="string2", placeholder="e.g. yale", type="text"/>
    </div>

    <button class="btn btn-default" type="submit">Score</button>

</form>

{% endblock %}
